.product-nav-parent{
    background-color:beige ;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}
.product-nav-item{
    width: 16%!important;
    position: relative;
    display: inline-block;
}
.product-nav-drop{
    padding: 0 8px;
    border: 1px solid beige;
    border-radius: 10px;
}
.product-nav-drop div {
    background: white;
    padding: 5px;
    border-radius: 10px;
}

.product-nav-title{
    font-size: 15px;
    color: grey;
    font-family: 'FuturaStd-Medium';
    letter-spacing: 0.5px;
    text-align: center;
    padding: 7px 0px;
}
.product-nav-dropdown{
    width: 94%;
    margin-left: 3%;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px grey;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    top: 0;
}

.product-nav-drop:hover + .product-nav-dropdown {
display: block;
}
.product-nav-dropdown:hover{
    display: block;
}

.product-nav-link{
    text-decoration: none;
    cursor: pointer;
}
.product-nav-link div{
    border-bottom: 1px solid beige;
}
.top-image-drop{
    padding: 10px 0px 0px 10px;
    text-align: center;
}
.product-navlink{
    color: black;
    padding: 2px 12px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid beige;
}
.nav-pro-menudrop{
    width: 100%;
    letter-spacing: 0.1px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.nav-pro-menudrop-item{
    vertical-align: baseline;
    width: 65%;
}
.nav-pro-menudrop-item div:first-child, .nav-pro-menudrop-item1 div:last-child {
    font-weight: bold;
    padding-top: 6px;
    font-size: 12px;
}
.nav-pro-menudrop-item div:last-child, .nav-pro-menudrop-item1 div:first-child {
    padding-top: 6px;
    font-size: 12px;
}
.nav-pro-menudrop-item1{
    width: 22%;
    padding-bottom: 13px;
}
.nav-pro-menudrop-item1 div:last-child {
    padding-top: 6px;
    font-weight: bold;
    font-size: 12px;
}
.Viewall-nav-item{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
}
.Viewall-text-navitem{
    color: skyblue;
    font-weight: bold;
    padding: 10px 12px;
    font-size: 14px;
    text-align: left;
}