@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf); }

body {
  margin: 0;
  padding: 0;
  color: black; }
  body .header {
    width: 100%;
    max-width: 1520px; }
    body .header .header-wrapper .top-header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body .header .header-wrapper .top-header a {
        padding: 0 10px;
        text-decoration: none;
        font-size: 10.4px;
        font-family: Roboto-Regular;
        color: #333; }
      body .header .header-wrapper .top-header ul {
        font-size: 1.2rem;
        display: flex; }
        body .header .header-wrapper .top-header ul li:nth-child(13) {
          border: none; }
        body .header .header-wrapper .top-header ul li {
          list-style: none;
          border-right: 1px solid #000042; }
          body .header .header-wrapper .top-header ul li a {
            padding: 0 10px;
            text-decoration: none;
            font-size: 10.4px;
            font-family: Roboto-Regular;
            color: #333; }
    body .header .header-wrapper .botom-header .botom-header-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 2vw;
      margin: 4px auto;
      align-items: center;
      justify-items: center; }
      body .header .header-wrapper .botom-header .botom-header-wrapper .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 405px;
        width: 100%; }
        body .header .header-wrapper .botom-header .botom-header-wrapper .logo .logo_contact {
          max-width: 9rem;
          width: 18rem; }
      body .header .header-wrapper .botom-header .botom-header-wrapper .search_bar {
        width: 100%;
        margin-left: 27px; }
        body .header .header-wrapper .botom-header .botom-header-wrapper .search_bar .search-bar-input {
          max-width: 600px;
          padding: 6px;
          width: 100%;
          border-radius: 5px;
          height: 25px; }
      body .header .header-wrapper .botom-header .botom-header-wrapper .shopping_option ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 361px;
        padding-right: 94px; }
        body .header .header-wrapper .botom-header .botom-header-wrapper .shopping_option ul li {
          list-style: none;
          padding: 0 11px; }
          body .header .header-wrapper .botom-header .botom-header-wrapper .shopping_option ul li a {
            text-decoration: none;
            color: #333; }
